.block.quote {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 0 24px;
  background-color: #ccc;
}

.block.quote blockquote {
  margin: 16px;
  text-indent: 0;
}

.block.quote > div:last-child > div {
  position: relative;
  margin: 0 16px;
  font-size: small;
  font-style: italic;
}

.block.quote > div:last-child > div::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  width: 30px;
  height: 5px;
  content: "";
  background-color: darkgray;
}